body{
	background: #46454d;
	height: 100%;
	font-family: "trebuchet ms";
	color:#111;
	main.login{
		input{
			border:0;
		}
		>.center{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
			
			width: 370px;
			

			>.fieldbox{
				position: relative;
				border-radius: 3px;	
				box-shadow: 0 0 15px rgba(0,0,0,0.1);
				background: #fff;
				padding:40px;								
				min-height: 103px;	

				&.expand{
					animation:mirror 1.5s ;
					@keyframes mirror{
						0% {}
						30% {}
						100%{transform:perspective(900px) rotate3d(0,180,0,-180deg)}
					}

					&.load:before{

						position: absolute;					
						content:"\f1ce";
						font-family: "FontAwesome";	
						font-size: 200%;
						animation: spin 4s infinite linear, opacity 20s 1.4s;	
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);	
						margin: -15px 0 0 -15px;
						opacity: 0;
						
						@keyframes spin {
						    from {transform:rotate(0);}
						    to {transform:rotate(360deg);}
						}			
						@keyframes opacity {
						    0% {opacity: 0;}
						    10% {opacity: .6;}
						    100% {opacity: .6;}
						}						
					}	

					&.message{
						#message{
							opacity: 0.7;
							max-height: 300px;
							transition: all .5s .5s ease-in;
						}
					}
	
					>.form{
					    transition: all 0.8s .1s ease-out;
					    opacity: 0; 
					    max-height: 0px;
					    overflow: hidden;
					}	
				}




				>#message{
					opacity: 0;
					max-height: 0;
					overflow: hidden;
					text-align: center;
					font-size: 130%;
					//color: #293f54;
					
				}

				>.form{ 
					max-height:400px;
					>*{
						width: 100%;
						margin-bottom: 20px;
						//site name
				 		&.name{
							text-align: center;
							font-size: 190%;
							h1{
								font-size: 100%;
								font-weight: normal;
								color:#444;
								&:before{
									content:"\f201";
									padding-right: 5px;
									font-family: "FontAwesome";
									font-size: 95%;
					
								}
							}
							small{
								display: block;
								font-size: 41%;
								margin-top: 10px;
								color:#bbb;
							}
						}
						//inputs
						&.field{
							position: relative;
							border-bottom:1px solid #eee;
							input{
								padding:12px 5px;
								color:inherit;

								width: 100%;

								&:focus {

									~ hr{
										width:100%;
									} 
								}
							}	
							hr{
								transition: width .25s;
								position:absolute; 
								width:0%; 
								margin-top:-1px; 
								border-color:#293f54;

								left:50%;
								transform:translateX(-50%)
							}				
						}
						//submit
						&#submit{
							cursor: pointer;
							transition:background .5s;
							margin-top: 40px;
							margin-bottom: 0;
							padding:12px 0;
							background: #eb4f37;
							color:white;
							border-radius: 40px;
							text-align: center;
							&:hover{
									background: darken(#eb4f37, 10%);

							}
							&:active{
									transform: translateY(3%);	
							}	
							
						}
					}

				




				}
				
			}	
			>.desk{
				margin-top: 15px;
				text-align: center;
				font-size: 80%;
				color:#7d7d87;
			}		
		}

	}




}