
 

main > section { 
	
	&.content{
		@darkColor: lighten(@blueColor, 10%);
	 >div{ 

			&.config{
				.wrapClass.white();
					.flexbox();
					.flexbox.__same();	
					.flexbox.__stretch();
					input,select{
						.radiusClass();
						border:1px solid #eee;
						padding:7px 10px;
						box-shadow: none;
						outline: none;						
					}	
					select{
						cursor: pointer;
						-webkit-appearance: none;
						-moz-appearance: none;
					}
					.search{
						text-align: right;
			
						position: relative;
						input{
							.transitionClass(width);
							width:210px;
							padding-right: 50px;
							&:required:valid,&:focus{
								width:100%;
								background: @lightColor;
	   						}
						}

						&:after{
							.makeItCenterYMagic();
							content: "\f002";
							font-family:'FontAwesome'; 
							position: absolute;
							margin-left:-30px;
							font-size:1.4em;
							margin-top: -1px;
							opacity: 0.4;
						}
					}
			
			}
        	&.table{
				 .wrapClass.white();
				 padding:0;
				 min-height: 150px;
                                 .wrap{min-height: 150px;} 
				 .wrap:before{
					content:"Нет записей";
					display:block;
					position:absolute;
					text-align:center;
					width:100%;
					margin-top:80px;
					font-size:120%;
					z-index:0;
				 }
				 .wrap .i{
					 	.flexbox();
					 	.flexbox.__same();
						.flexbox.__vertical-center();
						.marginBetweenClass();

						&:not(.b):hover{
							.shortShadowClass();
							background: @lightColor;
							border-color: darken(@greyColor, 3%);	
						}

						padding: @space/1.4 @space;
						min-width: 0;
					 	font-size: 90%;
					 	border-bottom: 1px solid @greyColor;
						background:white;
						position:relative;
					 	.pointClass(){
					 		 text-overflow: ellipsis;
					 		 overflow: hidden;
					 		 line-height: 1.2;
					 		 min-width: 70px;
					 		 max-height: 35px;
					 	}


					 	&:last-child{
					 		border:0;
					 	}
						&.b{
							white-space: nowrap;
							font-weight: bold;
							background: @lightColor;
							border-top: 1px solid #eee;
	
		
						}
						>*{
							.pointClass();
						}
						.ckb{
							text-align: center;
							min-width: 20px;
							.shareClass(){
								line-height:1.85;
								font-family:"fontAwesome";
								font-size:80%;
								display:inline-block;
								opacity: .6;
							}
							.abSize(){
								.shareClass();
								font-size: 14px;
							}
							&.true:before{
								.abSize();
								content:"\f00c";
								color:@greenColor;
								
							}
							&.false:before{
								.abSize();
								content:"\f00d";
								color:@redColor;
							}
							&.true,&.false{
								color:transparent;
								font-size: 0;
							}

						}
					 	.lng,.txt{
					 		 .flexbox.__grow-2();
					 		 .pointClass();
					 		 flex: 4;
					 		 min-width: 150px;
					 	}
					 	.tm{
					 		white-space: nowrap;
					 	}
				 }
				 .includes{
				 	margin-left: 25px;
				 }
        	}
			&.pagination{
				
				
				.flexbox();
				
				.flexbox.__vertical-center();
				.flexbox.__column();
				.marginClass();		

				.list{
						.flexbox();
						a{
							.wrapClass.white();
							.paddingClass(left, 17px);
							.paddingClass(right, 17px);
							.paddingClass(top, 12px);
							.paddingClass(bottom, 12px);
							
							
							
							&.active{
								background: @darkColor;
								color:white;
								&:hover{color:white!important;}
							}


							&.first{
								.marginClass(left, 8px);
								.marginClass(right, 8px);
								.paddingClass(left, 8px);
								.paddingClass(right, 8px);
								&:after{
									content:"..";
								}
							}
							&.last{
								.first();
								&:before{
									content:"..";
								}
								&:after{
									content:"";
								}
							}	


							&:not(.active){
								.hoverBackgroundColor(@lightColor);
							}
							.bfafVar(){
									 content: "\f0d9";
									 font-family:'FontAwesome'; 
									 font-size: 125%;
									 margin-top: -1px;
									 position: absolute;
									 opacity: .5; 
							}
							&.prev{
								padding-left: 30px;
								&:before{
									.bfafVar();
									margin-left:-15px;
								}
							}
							&.next{
								padding-right: 30px;
								&:after{
									.bfafVar();
									content:"\f0da";
									margin-left:10px;
								}
							}
							&.turnoff{
								opacity: 0.5;
								cursor: auto;
								display: none;
							}
						}
				}


			}
			



        }
    }
}